# ==========================================
# MERN Stack Core (Dependencies & Secrets)
# ==========================================
node_modules/
.env
.env.local
.env.development
.env.production

# Vite Build Output
dist/
dist-ssr/
*.local

# ==========================================
# Logs & Debugging Files
# ==========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# Editor / System Directories and Files
# ==========================================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?